
assets/config.json
config.json
*.exe
*.pt
*.onnx
*.pyc
*.pth
*.index
*.mp3
*.flac
*.ogg
*.m4a
*.bin
*.wav
*.txt
*.zip
*.png
*.safetensors
!requirements.txt
!requirementspy313.txt

assets/audios
assets/datasets
logs
!logs/mute_japanese_hubert_large/
!logs/mute_japanese_hubert_large/**/*.wav
!logs/mute_japanese_hubert_large/**/*.npy
!logs/mute_japanese_hubert_large/**/*.pt
rvc/models
env
venv
.venv
templates
assets/config.json.backup
